# --- Node/Angular standard ---
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log

# IDE
.idea/
.project
.classpath
.settings/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Angular cache e vari
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log

# --- Python specifico ---
venv/
__pycache__/
*.pyc
*.pyo
*.log
*.tmp

# --- File pesanti e dataset ---
api/*.pkl
*.npy
*.npy.gz
caches/
backtests/
*/backtests/**/*.csv
historical_data/
